<%-include("../layouts/header", {title: 'signup'}) %>
<%-include("../partials/navigation") %>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img class="img-fluid w-50" src="img/copanyname.png" alt="logo">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include("../layouts/footer") %>  