<%-include("layouts/header", {title: 'profile'}) %>
<%-include("partials/navigation") %>

<% if(user.length > 0){ %>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome <%= user[0].fullname %></h3>
                    <a class="btn btn-primary" href="/links">Save your links</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<% } %>
<%-include("layouts/footer") %>   
